
<div id="content">
	
<!--MODAL CODE HERE-->

<!-- Button to trigger modal -->
	
	 
	<!-- Load Modal -->
	<div id="loadModal" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="loadModalLabel" aria-hidden="true">
	  <div class="modal-header">
	    
	    <h3 id="loadModalLabel">I'm loading a lot of images! One moment please...</h3>
	  </div>
	  <div class="modal-body">
	    <p>What Is The Visible Human? is a project that explores the power of images—in this case, images of the human body. The sheer ubiquity of bodily imagery in the media, as well as our own perception of self, breeds a rich language of description and critique, but also simplification and categorization. <br><br>Inspired by MRI slices obtained from the <a href="http://www.nlm.nih.gov/research/visible/" >Visible Human Project</a>, I wanted to know: what happens when we see our body from a different angle? I submitted both the MRI images as well as “superficial” images of the human body to Amazon’s Mechanical Turk and asked people, <em>“What is the Visible Human?”</em><br><br>Made by <a href="http://www.benkauffman.com">Ben Kauffman.</a></p>
	  </div>
	  <div class="modal-footer">
	  </div>
	</div>

	<!-- About Modal -->

	<div id="aboutModal" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="aboutModalLabel" aria-hidden="true">
	  <div class="modal-header">
	    
	    <h3 id="aboutModalLabel">About</h3>
	  </div>
	  <div class="modal-body">

	    <p>What Is The Visible Human? is a project that explores the power of images—in this case, images of the human body. The sheer ubiquity of bodily imagery in the media, as well as our own perception of self, breeds a rich language of description and critique, but also simplification and categorization. <br><br>Inspired by MRI slices obtained from the <a href="http://www.nlm.nih.gov/research/visible/">Visible Human Project</a>, I wanted to know: what happens when we see our body from a different angle? I submitted both the MRI images as well as “superficial” images of the human body to Amazon’s Mechanical Turk and asked people, <em>“What is the Visible Human?”</em><br><br>Made by <a href="http://www.benkauffman.com">Ben Kauffman.</a></p>
	  







	  </div>
	  <div class="modal-footer">
	    <button class="btn" data-dismiss="modal" aria-hidden="true">Close</button>
	  </div>
	</div>
	

	<div class="row">

		<div class="span12">

			<h2>{{ title }}</h2>
			<!--MODAL BUTTON IS HERE-->
			
			<a id="aboutLink" href="#aboutModal" role="button" class="btn" data-toggle="modal">ABOUT</a>

		
			
		</div>
		
	</div>

	<div class="row">

		<div class="span5">

	  		<div id="mri" style="position:relative; top: 97px;">
	  			
		  			{{#mriArray}}
		  			<div style="width : 470px; ">
		  				
		  				<img src= {{ url }} />
		  				<h5> {{ description }}</h5>
		  				
		  			</div>
					{{/mriArray}}	
					
			</div>
		</div>
  		
		 <div id="sliderDiv" class="span1 offset1">
				
			<div id="slider-vertical" style="position:relative; top:80px;"></div>
		</div>
		
	  	<div class="span5">

	  		<div id="nude">
		  			
		  			{{#nudeArray}}
		  			<div style="width:470px;">
		  				
		  				<img style="position:relative; top:{{offset}}px" src= {{ url }} />
		  				
		  				<h5 style="position:relative; top:390px;" > {{ description }}</h5>
		  				
		  			</div>
					{{/nudeArray}}

			</div>
	  	</div>	
		  	  	
	</div>
	
</div>	

<script>



$(document).ready(function() {
	$('#loadModal').modal();
    console.log("Hello World");
  });

$(window).load(function(){
	$('#loadModal').modal('hide');
	$('#mri, #nude').cycle({
		timeout : 800000,
		speed : 80000000 ,
		startingSlide : 198,
		backwards : true,
		// slide counter
		before : function (curr, next, opts) {
    			console.log(opts.nextSlide + " of " + opts.slideCount);
		}
		});	

});


$(function() {
  $( "#slider-vertical" ).slider({
    orientation: "vertical",
    range: "min",
    min: 0,
    max: 306,
    value: 200,
    slide: function( event, ui ) {
      	$("#mri").cycle(ui.value);
      	$("#nude").cycle(ui.value);
    }
  });
});

</script>



























