
<div id="content">
	
	<div class="row">

		<div class="span4"></div>

		<div class="span4">

			<h2>{{ title }}</h2>

			<br>
		</div>

		<div class="span4">
		
		</div>		
	</div>

	<div class="row">

		<div class="span5">

	  		<div id="mri">
	  			
		  			{{#mriArray}}
		  			<div style="width : 470px;">
		  				
		  				<img src= {{ url }} />
		  				<h4> {{ description }}</h4>
		  				
		  			</div>
					{{/mriArray}}	
					
			</div>
		</div>
  
		 <div class="span1 offset1">
				
			<div id="slider-vertical"></div>

		</div>

	  	<div class="span5">

	  		<div id="nude">
		  			
		  			{{#nudeArray}}
		  			<div style="width:470px;">
		  				
		  				<img style="position:relative; top:{{offset}}px" src= {{ url }} />
		  				
		  				<h4  style="position:absolute; top:390px;" > {{ description }}</h4>
		  				
		  			</div>
					{{/nudeArray}}

			</div>
	  	</div>	
		  	  	
	</div>
	
</div>	

<script>



$(document).ready(function() {

    console.log("Hello World");
  });

$(window).load(function(){
	$('#mri, #nude').cycle({
		timeout : 80000,
		speed : 8000000 ,
		startingSlide : 0,
		backwards : true,
		before : function (curr, next, opts) {
    			console.log(opts.nextSlide + " of " + opts.slideCount);
		}
		});	

});


$(function() {
  $( "#slider-vertical" ).slider({
    orientation: "vertical",
    range: "min",
    min: 0,
    max: 300,
    value: 300,
    slide: function( event, ui ) {
    	$( "#amount" ).val( ui.value );
    	//console.log(ui.value);
      	$("#mri").cycle(ui.value);
      	$("#nude").cycle(ui.value);
    }
  });

  $( "#amount" ).val( $( "#slider-vertical" ).slider( "value" ));
});

</script>



























