
<div id="content">
	
	<div class="row">

		<div class="span4"></div>

		<div class="span4">

			<h2>{{ title }}</h2>

			<br>
		</div>

		<div class="span4">
		
		</div>		
	</div>

	<div class="row">

		<div class="span5">

	  		<div class="mri">
	  			
		  			{{#mriImages}}
		  			
		  			<div>
		  				{{#mriDescriptions}}
		  				<img src= {{ url }} />
		  				<p> {{ description }}</p>
		  				{{/mriDescriptions}}
		  			</div>
					
					{{/mriImages}}	
					
			</div>
		</div>
  
		 <div class="span1 offset1">
				
			<div id="slider-vertical"></div>

		</div>

	  	<div class="span5">

	  		<div class="nude">
		  			
		  			{{#nudeImages}}
		  			
		  			<div>
		  				<br>
		  				<br>
		  				<br>
		  				<br>
		  				<br>
		  				<img src= {{ url }} />
		  			</div>
					
					{{/nudeImages}}	 

			</div>
	  	</div>	
		  	  	
	</div>
	
	<div class="row">

	  	<div class="span5">

	  		<div class="mriDescriptions">

	  			{{#mriDescriptions}}

	  			<div>
	  				
	  				<p>{{description}}</p>

	  			</div>

				{{/mriDescriptions}}

			</div>

		</div>

		<div class="span1 offset1"></div>

		<div class="span5"></div>
	</div>

		<div class="row">
		  	<div class="span5"></div>

			<div class="span1 offset1"></div>

			<div class="span5">
				
				<div class="nudeDescriptions">

					{{#nudeDescriptions}}

		  			<div>

		  				<p>{{ description }}</p>

		  			</div>

					{{/nudeDescriptions}}

				</div>

			</div>
	</div>
	
</div>	

<script>



$(document).ready(function() {

    console.log("Hello World");
  });

$(document).ready(function(){
	$('.mri, .mriDescriptions').cycle({
		timeout : 1,
		speed : 800 ,
		startingSlide : 0
		
	});	
	
	$('.nude, .nudeDescriptions').cycle({
		timeout : 1,
		speed : 800 ,
		startingSlide : 0
		
	});
});



$(function() {
  $( "#slider-vertical" ).slider({
    orientation: "vertical",
    range: "min",
    min: 0,
    max: 300,
    value: 300,
    slide: function( event, ui ) {
      $( "#amount" ).val( ui.value );
      console.log(ui.value);  
    }
  });
  $( "#amount" ).val( $( "#slider-vertical" ).slider( "value" ));
});



</script>



























