

/* ==========================================================================
   Author's custom styles
   ========================================================================== */
body{
	color: #dddddd;
	background-color: black;
	text-align: center;
	font-family: futura;

}
.ui-widget-header .ui-state-focus {
	border: 1px solid #fbcb09;
	font-weight: bold;
	color: #000000;
}

#mri, #nude {
	font-family: Times New Roman;



}
















